<p>
    I am currently a Software Development Engineer at Amazon. Previously, I had
    the opportunity to intern with incredible engineers at Tesla and Netgear. I
    graduated from the University of British Columbia, specializing in
    Electrical and Computer Engineering.
    <br />
    <br />
    I'm interested in distributed systems, security, and robotics. During my
    studies, I worked on autonomous soccer playing robots with
    <span style="white-space: nowrap">
        <a href="https://github.com/UBC-Thunderbots" target="_blank"
            >UBC Thunderbots</a
        ></span
    >. I was also deeply involved with
    <span style="white-space: nowrap"
        ><a href="https://ubcecess.com/" target="_blank">UBC ECESS</a></span
    >
    and
    <span style="white-space: nowrap"
        ><a href="http://www.ubcieee.org/" target="_blank">UBC IEEE</a></span
    >
    through mentorship, treasury, outreach, and event photography. You can read
    more about my time at UBC
    <span
        ><a href="https://apsc.ubc.ca/spotlight/kelvin-koon" target="_blank"
            >here</a
        ></span
    >.
    <br />
    <br />
    I'm most excited about bettering myself and others around me wherever I go.
    In my downtime, you can find me bouldering, figure skating, or reading
    non-fiction.
</p>
