<p>
    Hi, I'm Kelvin! I'm currently a Software Development Engineer at Amazon
    working on threat orchestration and response solutions. I graduated from the
    University of British Columbia with a Bachelor of Applied Science in
    Electrical Engineering. I am currently based in Toronto, Canada.
    <br />
    <br />
    Keenly interested in cloud infrastructure, distributed systems, and
    robotics. My past experiences include working on 5G router validation at
    <span style="white-space: nowrap"
        ><a href="https://netgear.com/" target="_blank">Netgear</a></span
    >, database platform tooling at
    <span style="white-space: nowrap"
        ><a href="https://aws.amazon.com/" target="_blank">AWS</a></span
    >, and simulation infrastructure at
    <span style="white-space: nowrap"
        ><a href="https://tesla.com/" target="_blank">Tesla</a></span
    >. On the side, I'm building
    <span style="white-space: nowrap"
        ><a href="https://netgear.com/" target="_blank">Statsugiri.gg</a></span
    >, an open-source competitive Pokémon data platform.
    <br />
    <br />
    During my studies, I worked on autonomous soccer playing robots with
    <span style="white-space: nowrap">
        <a href="https://github.com/UBC-Thunderbots" target="_blank"
            >UBC Thunderbots</a
        ></span
    >. I was also deeply involved with
    <span style="white-space: nowrap"
        ><a href="https://ubcecess.com/" target="_blank">UBC ECESS</a></span
    >
    and
    <span style="white-space: nowrap"
        ><a href="http://www.ubcieee.org/" target="_blank">UBC IEEE</a></span
    >
    through mentorship, treasury, and outreach. You can read more about my time
    at UBC
    <span
        ><a href="https://apsc.ubc.ca/spotlight/kelvin-koon" target="_blank"
            >here</a
        ></span
    >.
    <br />
    <br />

    I'm most excited by how technology can play a part in building a better
    tomorrow. There's so much to explore out there, it'd be a shame if one were
    bored. Beyond work, you can find me crimping at the bouldering gym, wielding
    my Sony A7II camera, or figure skating at the nearest rink.
</p>
