<p>
    Some kind of software engineer exploring firmware, hardware, and movement.
    Previously worked on threat engineering infrastructure at
    <span style="white-space: nowrap">
        <a href="https://aws.amazon.com/" target="_blank">Amazon</a></span
    >.
    <br />
    <br />
    Was deeply involved with
    <span style="white-space: nowrap">
        <a href="https://github.com/UBC-Thunderbots" target="_blank"
            >UBC Thunderbots</a
        ></span
    >,
    <span style="white-space: nowrap"
        ><a
            href="https://ece.ubc.ca/student-life/student-societies-and-clubs/"
            target="_blank"
            >UBC ECESS</a
        ></span
    >, and
    <span style="white-space: nowrap"
        ><a href="http://www.ubcieee.org/" target="_blank">UBC IEEE</a></span
    >. Read about why mentorship and outreach matter
    <span
        ><a href="https://apsc.ubc.ca/spotlight/kelvin-koon" target="_blank"
            >here</a
        ></span
    >.
    <br />
    <br />
    Self-expression, problem-solving, and community endlessly inspire me.
    Included but not limited to
    <span
        ><a href="https://www.youtube.com/watch?v=9-cyXSq1xnk" target="_blank"
            >dance</a
        ></span
    >, figure skating,
    <span
        ><a href="https://www.youtube.com/watch?v=BhwLpo8hQpY" target="_blank"
            >competitive Pokémon</a
        ></span
    >, and
    <span
        ><a href="https://frame1photography.pixieset.com/" target="_blank"
            >photography</a
        ></span
    >.
</p>
