/* @media screen and (min-width: 900px) {
} */

html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 700px;
    min-width: 450px;
    margin: 12px;
}

.menu-item {
    font-size: 17px;
    font-weight: bold;
    color: #087b9c;
    background-color: rgba(220, 220, 220, 0.3);
    padding: 1px 2px 1px 2px;
    border-bottom: none;
}

.menu-item:hover {
    font-size: 17px;
    font-weight: bold;
    color: #8bc5cd;
    background-color: rgba(220, 220, 220, 0.3);
    padding: 1px 2px 1px 2px;
    border-bottom: none;
}

.menu-item:first-of-type {
    margin-right: 3px;
}

.menu-item:last-of-type {
    margin-left: 3px;
}

.home {
    margin-bottom: 10px;
    margin-top: 70px;
}

.home a {
    font-family: "Inter", sans-serif;
    font-size: 45px;
    color: black;
    border-bottom: none;
}

.home a:hover {
    font-family: "Inter", sans-serif;
    font-size: 45px;
    color: #e64a6a;
    border-bottom: none;
}

.sub-nav {
    margin-bottom: 35px;
}

.header {
    font-family: "Noto Sans", sans-serif;
    font-size: 22px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 60%,
        #ffee62 50%
    );
}

.job-info {
    width: 100%;
    margin-left: -2px;
    margin-bottom: 10px;
}

.job-name a {
    font-family: "Noto Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #087b9c;
    border-bottom: none;
    transition: all 0.3s ease;
}

.job-name a:hover {
    font-family: "Noto Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #8bc5cd;
    border-bottom: none;
    transition: all 0.3s ease;
}

.job-date {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    text-align: right;
}

.job-title {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.job-team {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: rgba(34, 36, 39, 0.6);
}

.project-info {
    width: 100%;
    margin-left: -2px;
    margin-bottom: 10px;
}

.project-name a {
    font-family: "Noto Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #087b9c;
    border-bottom: none;
    transition: all 0.3s ease;
}

.project-name a:hover {
    font-family: "Noto Sans", sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #8bc5cd;
    border-bottom: none;
    transition: all 0.3s ease;
}

.project-links {
    text-align: right;
}

.project-link {
    margin: 0px 4px 0px 4px;
}

.project-desc {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

.posts-info {
    width: 100%;
    margin-left: -2px;
}

.post-date {
    text-align: right;
}

p {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

a {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: #087b9c;
    text-decoration: none;
    border-bottom: 2px solid #087b9c;
    transition: all 0.3s ease;
}

a:hover {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    color: #e64a6a;
    border-bottom: 2px solid #e64a6a;
}

.copyright {
    margin-top: 65px;
    text-align: center;
}

.footer-links {
    margin-bottom: 45px;
    text-align: center;
}

.source {
    margin-right: 3px;
}

.twitter {
    margin-left: 3px;
}
