<h1 class="home"><a href="/">Kelvin Koon</a></h1>
<table class="sub-nav">
    <!-- TODO: Get rid of table, use div + span -->
    <tr>
        <td>
            <p><a href="/posts">blog</a></p>
        </td>
        <td>
            <p><a href="/resume.pdf" target="_blank">resume</a></p>
        </td>
        <td>
            <p>
                <a href="https://github.com/kelvinkoon" target="_blank"
                    >github</a
                >
            </p>
        </td>
    </tr>
</table>
