<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
    rel="stylesheet"
/>
<link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
    rel="stylesheet"
/>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/css/home.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/syntax.css" type="text/css" media="all" />
<link disabled id="dark-mode-theme" rel="stylesheet" href="/css/dark.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script defer language="javascript" type="text/javascript"  src="{{ "/js/myscripts.js" | urlize | relURL }}"></script>
<html>
    <head>
        <title>Kelvin Koon</title>
        <script src="https://use.fontawesome.com/b988afb9a9.js"></script>
    </head>
    <link rel="shortcut icon" type="favicon" href="favicon.png" />
</html>
